/* Print Style Sheet */
@media print {

    header div.header-wide,
    div.background-shapes,
    #logo,
    #burger,
    #buttons-menu {
        display: none;
    }

    header,
    main  {
        width: 100%;
        max-width: 100%;
    }

    main #main-container {
        width: 100%;
    }

    header aside.print-only {
        font-size: 2em;
        color: var(--red);
        margin: auto;
    }
    #footer-content {
        display: none;
    }
    footer aside.print-only div {
        display: flex;
        justify-content: space-between;
        margin-top: 1.5em;
    }
    footer aside.print-only div div img {
        max-height: 100px;
    }
    footer aside.print-only div div:first-child img {
        padding-left: 30px;
    }

    footer {
        background-color: inherit;
    }

    /* do not print the last group-block element (used for "weitere informationen" link collections)*/
    main article div.wp-block-group:last-child {
        display: none;
    }

    /* do not print embedded external tools */
    main article iframe {
        display: none;
    }

    /* do not display video blocks */
    main article figure.wp-block-video,
    main article figure.wp-block-embed.is-type-video {
        display: none;
    }

    /* do not display the print button */
    main article div.entry-title div:nth-child(2) {
      display: none;
    }
}

/* do not display elements on screen that are only for the print-version*/
@media screen {
    .print-only {
        display: none;
    }
}
