/*
Theme Name: dig_mit_twentytwo!
Theme URI: https://digmit.tantemalkah.at
Author: Andrea Ida Malkah Klaura <jackie@tantemalkah.at>
Author URI: https://tantemalkah.at
Description: A mobile-first theme for the dig_mit! project by LEFÖ.
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: digmit
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/


:root {

    /* ===== Colors ===== */
    --red: #fc4940;
    --lightgray: #d0d0d0;
    --darkgray: #353431;
    --blue: #003491;
    --black: #090909;
    --white: #ffffff;

    /* ===== Breakpoints ===== */
    --phone: 576px;
    --tablet: 768px;
    --laptop: 992px;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


body {
    font-family: 'Roboto', Arial, sans-serif;
}


/* =====================================
           Base color set
   ===================================== */

a {
    color: var(--blue);
    font-weight: bold;
}

a:hover,
a:visited:hover {
    color: var(--red)
}

/* =====================================
               Header
   ===================================== */

header {
    margin: auto;
    position: relative;
    width: 90%;
    max-width: var(--laptop);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 3 !important;
    padding-top: 0.4em;
}

@media (min-width: 576px) {
    header {
        width: 80%;
    }
}

#logo {
    position: relative;
    max-height: 200px;
    max-width: 23%;
}

#logo img {
    height: 100%;
}

/* ========== burger menu ============== */

#burger {
    padding-top: 0.3em;
    max-width: 40%;
}

@media (min-width: 911px) {
    #burger {
        display: none;
    }
}

#burger a.nav-link,
#burger span.language-switcher {
  text-decoration: none;
  color: var(--black);
  padding: 0.2em 0.5em;
  font-weight: bold;
  position: relative;
  top: 0.75em;
}
#burger span.language-switcher nav select {   /* if the switcher is configured as a select box */
  border: 1px solid var(--black);
  font-weight: bold;
  /* font-size: inherit; */
  background-color: transparent;
  border-radius: 0px;
  padding: 0.2em 0.6em;
}
span.language-switcher nav ul {  /* if the switcher is configured as a list - works for wide header too */
  display: inline;
  padding-left: 0;
}
span.language-switcher nav ul li {
  display: inline;
}
span.language-switcher nav ul li a {
  text-decoration: inherit;
  color: inherit;
  padding: 0.2em 0.5em;
}
span.language-switcher nav ul li:last-child a {
  padding-right: 0;
}
span.language-switcher nav ul li a:hover {
  color: inherit;
}

@media (max-width: 660px) {
  span.language-switcher nav ul li a {
    padding: 0.2em 0.2em;
  }
}
@media (max-width: 490px) {
  #burger span.language-switcher {
    padding: 0;
  }
  span.language-switcher nav ul li a {
    padding: 0.2em 0.2em;
  }
}
@media (max-width: 490px) {
  span.language-switcher nav ul li a {
    padding: 0.2em 0.1em;
  }
}
@media (max-width: 410px) {
  span.language-switcher nav ul li a {
    padding: 0.2em 0;
  }
  #burger button#burger-button {
    padding: 0;
  }
}

#burger button {
    background-color: transparent;
    border: none;
}
@media (max-width: 370px) {
  #burger button#burger-button {
    padding: 0;
  }
}

#burger span.dashicons-menu {
    font-size: 3em;
    width: auto;
    height: auto;
    color: var(--red);
    cursor: pointer;
}

#burger-menu {
    display: none;
    z-index: 999 !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--red);
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.w3-container {
    display: flex;
    flex-direction: column;
}

#burger-menu span.dashicons-no {
    font-size: 2em;
    text-align: end;
    width: auto;
    height: auto;
    color: var(--white);
    cursor: pointer;
    margin-bottom: 5px;
}
/* only for logged in users, so the admin bar does not cover the dashicon */
body.customize-support nav#burger-menu span.dashicons-no {
    padding-top: 1em;
}

#burger-menu-box {
    background-color: var(--red);
    border: 5px solid var(--white);
    margin: 0 5px;
    padding: 0 0 0.5em 0;
    text-align: end;
}

#burger-menu-items ul {
    color: var(--white);
    background-color: var(--red);
    border-bottom: 5px solid var(--white);
    margin: 0 0 0.5em 0;
    padding: 0 0 0.5em 0;
}

#burger-menu-items>ul>li {
    list-style: none;
    width: 100%;
    margin-top: 0.5em;
}

#burger-menu-items>ul>li>ul {
    list-style: none;
    width: 100%;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 0.5em 0 0.5em 0;
    margin: 0.5em 0 0.5em 0;
}

#burger-menu-items ul li a {
    font-size: 1em;
    text-align: start;
    font-weight: bold;
    text-decoration: none;
    color: var(--white);
    background-color: var(--red);
    padding: 0.2em 0.5em;
    margin: 0;
    display: block;
}

#burger-menu-items ul li ul {
    width: 100%;
}

#burger-menu-items ul li ul a {
    text-align: end;
}

#burger-menu-items ul li ul a:hover {
    color: var(--black)
}

#burger-menu-box .nav-link {
    text-decoration: none;
    display: block;
    color: var(--white);
    text-align: left;
    padding: 0.2em 0.5em;
    font-weight: bold;
}

#burger-menu-box>a:hover {
    color: var(--black);
}

.burger-search {
    display: flex;
    flex-flow: row wrap;
    height: fit-content;
}

.burger-search .search-box {
    background-color: var(--white);
    display: flex;
    align-content: flex-end;
    width: 100%;

}

.burger-search-form {
    flex-grow: 1;
}

.burger-search .search-box input {
    margin: 0;
    flex-grow: 1;
}

.burger-search .search-box button{
    background-color: var(--white);
    color: var(--red);
    align-self: flex-end;
}

#search-form-checkbox-wide {
    display: none;
}

#search-form-box-wide {
    display: none;
}

#search-form-wide input:checked ~ #search-form-box-wide {
    display: block;
}

.searchform {
    padding: 0.2em 0.5em;
}

.searchform input {
    border: none;
    color: var(--red);
    height: 1.5em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
}

.searchform button {
    border: none;
    color: var(--white);
    background-color: var(--red);
    height: 100%;
}


/* ========== button menu ============== */


.buttons-menu {
    width: 100%;
    margin: 0;
    z-index: 3;
    padding-bottom: 0;
}

@media (min-width: 911px) {
    header>.buttons-menu {
        display: none;
    }
}

.buttons-menu ul {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 0;
    width: 100%;
}

#main-nav-items ul li {
    list-style: none;
    flex-grow: 1;
}

/* do not display the first menu item small screen sizes*/
#buttons-menu > #main-nav-items > ul > li:first-child {
    display: none;
}

.buttons-menu a {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
    background-color: white;
    border: 5px solid var(--red);
    padding: 0.6em 0.4em;
    margin: 0;
    display: block;
}

@media (min-width: 576px) {
    .buttons-menu a {
        font-size: 1.2em;
    }
}

#main-nav-items > ul > li:hover a {
    color: var(--white);
    background-color: var(--red);
    border: 5px solid var(--white);
    border-top: none;
}
#main-nav-items > ul > li:hover > a {
    border-top: solid;
}

#main-nav-items > ul > li > ul {
    display: none;
}

#main-nav-items > ul > li:hover > ul {
    display: block;
    width: 100%;
}

#main-nav-items > ul > li:hover > ul > li {
    padding: 0;
}

#main-nav-items > ul > li:hover > ul > li > a {
    text-align: right;
}

#main-nav-items > ul > li > ul > li:hover > a {
    background-color: var(--red);
    border: 5px solid var(--white);
    border-top: none;
    color: var(--black);
}

#main-nav-items > ul > li:hover > ul > li > ul {
    display: none;
}

/* First menu item looks different*/
@media (min-width: 911px) {
    #main-nav-items > ul > li:first-of-type > a {
        color: var(--white);
        background-color: var(--red);
        border: 5px solid var(--red);
    }

    #main-nav-items > ul > li:first-of-type:hover > a {
        border: 5px solid var(--white);
    }
}

.header-wide {
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 75%;
    display: none;
}

@media (min-width: 911px) {
    .header-wide {
        display: flex;
    }
}

.buttons-menu-wide {
    padding-bottom: 0;
}

#menu-items-wide {
    text-align: right;
    padding: 1.5em 0;
    width: 75%;
}

#menu-items-wide .nav-link,
#menu-items-wide span.language-switcher {
    text-decoration: none;
    color: var(--black);
    padding: 0.2em 0.5em;
    font-weight: bold;
}
#menu-items-wide span.language-switcher nav select {  /* if the switcher is configured as a select box */
  border: 1px solid var(--black);
  font-weight: bold;
  /* font-size: inherit; */
  background-color: transparent;
  border-radius: 0px;
  padding: 0.2em 0.6em;
}

#menu-items-wide .nav-link:hover {
    cursor: pointer;
}

#search-form-wide {
  display:flex;
  justify-content: right;
}
#menu-items-wide .search-box {
    display: flex;
    border: 2px solid var(--red);
    background-color: var(--white);
    max-width: max-content;
}

.no-search-results-form .search-box {
    display: flex;
    border: 2px solid var(--red);
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: var(--white);
    width: fit-content;
    text-align: center;
}


#menu-items-wide .searchform input,
.no-search-results-form .search-box input {
    border: none;
    color: var(--red);
    height: 1.5em;
    margin: 0;
    padding: 0.1em;
    min-width: 200px;
}

#menu-items-wide .searchform button,
.no-search-results-form .search-box button{
    color: var(--red);
    background-color: var(--white);
    height: 100%;
}


/* =====================================
        Header Background Shapes
   ===================================== */

.background-shapes {
    position: relative;
    width: 0;
    height: 0;
    max-width: 1000px;
    z-index: -1;
}

.background-shapes svg {
    overflow: visible;
}

#background-rectangle-1-container {
    position: absolute;
    width: 1000px;
    height: 100%;
    top: 15px;
    left: -500px;
    transform: rotate(-14deg);
}

#background-rectangle-1 {
    fill: var(--red);
    stroke: var(--red);
    width: 800px;
    height: 400px;
}

#background-rectangle-2-container {
    position: absolute;
    top: 750px;
    left: 100px;
    transform: rotate(-14deg);
}

#background-rectangle-2 {
    fill: var(--darkgray);
    stroke: var(--darkgray);
    width: 1000px;
    height: 20px;
}

/* =====================================
               Main
   ===================================== */

main {
    position: relative;
    z-index: 99;
    min-height: 400px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 576px) {
    main {
        width: 80%;
        max-width: var(--laptop);
    }
}

#main-container {
    width: 100%;
}

@media (min-width: 911px) {
    #main-container {
        width: 75%;
    }
}

/* =====================================
              Front Page
   ===================================== */

main.front-page>div.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

@media (min-width: 911px) {
    main.front-page>div.container {
        width: 75%;
    }
}

main.front-page>div.container>figure {
    width: 100%;
    background-color: transparent;
    text-align: end;
    text-decoration: none;
    margin-bottom: 2em;
    letter-spacing: 1px;
}

@media (min-width: 768px) {
    main.front-page>div.container>figure {
        width: 47%;
    }
    main.front-page>div.container>figure:nth-child(odd) {
        text-align: start;
    }
}

main.front-page>div.container>figure a {
    display: inline;
    text-decoration: none;
    font-size: large;
    color: var(--black);
    font-size: 1.8em;
}

main.front-page>div.container>figure figcaption {
    padding: 0.5em 0.3em;
    margin: 0;
    border-bottom: 10px solid var(--red);
    background-color: rgba(255, 255, 255, 0.85);
}

main.front-page>div.container>figure img {
    width: 100%;
}


/* =====================================
                 Content
   ===================================== */

/* content of posts and pages (except front page) */
article,
.no-search-results-form {
    color: black;
    background-color: var(--white);
    padding: 1em;
}

article p,
.no-search-results-form {
    line-height: 1.3em;
}

article div.entry-title {
    display: flex;
    justify-content: space-between;
}
article div.entry-title div:nth-child(2) span.dashicons {
    font-size: 2em;
    cursor: pointer;
    padding-top: 0.6em;
    padding-right: 0.3em;
}

article h2,
article h3 {
    color: var(--red);
}

article hr.wp-block-separator {
    background-color: var(--red);
    border: 5px solid var(--red);
    margin: 0.5em 0 1em 0;
}

/* images in pages and posts */
main figure {
    background-color: var(--white);
    text-align: center;
}

/* link buttons in pages and posts */
article .wp-block-button {
    width: 100%;
}

article .wp-block-button a {
    background-color: var(--red);
    border: 5px solid var(--red);
    text-align: left;
    border-radius: 0;
    margin: 5px 0;
    width: 100%;
}

article div.wp-block-button a:hover {
    color: var(--red);
    background-color: var(--white);
    border: 5px solid var(--red);
}

article div.wp-block-button.is-style-outline {

    color: var(--red);
    background-color: var(--white);
    border-color: var(--red);
}

article div.wp-block-button.is-style-outline a:hover,
article div.wp-block-button.is-style-outline > a.wp-block-button__link:hover {
    color: var(--white);
    background-color: var(--red);
}

/* blue buttons */

article div.wp-block-button.blue a {
    color: var(--white);
    background-color: var(--blue);
    border-color: var(--blue);
}

article div.wp-block-button.blue a:hover {
    color: var(--blue);
    background-color: var(--white);
}

article div.wp-block-button.is-style-outline.blue {
    color: var(--blue);
    background-color: var(--white);
    border-color: var(--blue);
}

article div.wp-block-button.is-style-outline.blue a:hover {
    color: var(--white);
    background-color: var(--blue);
}

/* black buttons */

article div.wp-block-button.black a {
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
}

article div.wp-block-button.black a:hover {
    color: var(--black);
    background-color: var(--white);
}

article div.wp-block-button.is-style-outline.black {
    color: var(--black);
    background-color: var(--white);
    border-color: var(--black);
}

article div.wp-block-button.is-style-outline.black a:hover {
    color: var(--white);
    background-color: var(--black);
}

/* lists */

article ol {
    list-style: none;
    counter-reset: counter;
}

article ol li {
    counter-increment: counter;
    padding: 0.5em;
    margin-left: -1.2em;
}

article ol li::before {
    content: counter(counter)"_";
    color: var(--red);
    font-weight: bold;
    display: block;
    margin-left: -1.6em;
}

article ul li::before {
    content: "___";
    margin-left: -1.6em;
    margin-right: 0.2em;
}

article ul li {
    padding: 0.4em;
    list-style: none;
    margin-left: -1.2em;
}

/* groups: for blocked elements with heading */

article .wp-block-group {
    border: 5px solid var(--blue);
    padding: 1.5em 1em;
    position: relative;
    width: 100%;
    margin: 1em auto;
}

article .wp-block-group.red {
    border: 5px solid var(--red);
}

article .wp-block-group.black {
    border: 5px solid var(--black);
}

@media (min-width: 576px) {
    article .wp-block-group {
        width: 80%;
    }
}

article .wp-block-group__inner-container {
    padding: 0 0 0 10%;
    margin-left: -1.5em;
    margin-right: -1.5em;
    border: none;
    background-color: var(--white);
}
article div.wp-block-group.is-layout-constrained .wp-block-group__inner-container {
    /* had to be added as it seems with some WP upgrade new group blocks get this
       .is-layout-constrained class (which was not there in group blocks added before,
       but it would overwrite our margin with `auto !important`
    */
    margin-left: -1.5em !important;
    margin-right: -1.5em !important;
}

/* accordions */

article div.wp-block-pb-accordion-item .c-accordion__title {
    color: var(--red);
    background-color: var(--white);
    padding: 1em 1em 0.5em 0;
    border-bottom: 15px solid var(--red);
}

article div.wp-block-pb-accordion-item .c-accordion__title::after {
    color: var(--red);
    font-size: 1.5em;
    padding-right: 0.3em;
}

/* =====================================
        Main topic page template
   ===================================== */

main.topic-page article div.entry-title h1 {
    font-size: 2em;
}
main.topic-page article div.entry-title div:nth-child(2) span.dashicons {
  font-size: 2.6em;
}


/* =====================================
               Footer
   ===================================== */

footer {
    background-color: var(--black);
    color: var(--white);
}

footer a {
    color: var(--white);
    text-decoration: none;
}

#footer-content {
    color: white;
    margin: auto;
    width: 100%;
    max-width: var(--laptop);
    padding-top: 3em;
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 768px) {
    #footer-content {
        width: 80%;
        padding-top: 3em;
    }
}

#footer-content::after {
    content: "";
    clear: both;
    display: table;
}

#footer-content-container {
    width: 100%;
}

@media (min-width: 911px) {
    #footer-content-container {
        width: 75%;
    }
}

#footer-text-container {
    position: relative;
    z-index: 3;
}

.footer-element {
    display: flex;
    flex-flow: column nowrap;
    margin: 2rem auto;
    width: 80%;
}

@media (min-width: 768px) {
    .footer-element {
        flex-flow: row nowrap;
        max-width: 1000px;
        padding-top: 2em;
        width: 100%;
    }
}

.footer-element h2 {
    align-self: baseline;
    width: 100%;
    height: 100%;
    text-align: start;
    padding: 0 1rem 0 0;
    margin: 0 1rem 0 0;
}

@media (min-width: 768px) {
    .footer-element h2 {
        text-align: end;
        width: 45%;
    }
}

.footer-element p {
    align-self: baseline;
    line-height: 1.5rem;
    font-weight: normal;
}

.footer-element .footer-links-notes {
    text-align: end;
}

@media (min-width: 768px) {
    .footer-element .footer-links-notes {
        text-align: start;
    }
}


#lefö-logo-footer {
    background-color: var(--white);
    flex-grow: 1;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    #lefö-logo-footer {
        margin-top: 0;
    }
}

#lefö-logo-footer img {
    height: 100%;
    max-height: 100px;
}

.digifonts {
    background-color: var(--lightgray);
    transform: rotate(-14deg);
    padding: 0.8rem;
    text-align: center;
    margin: 0 auto;
    margin-top: -10%;
    width: 70%;
}

@media (min-width: 768px) {
    .digifonts {
        width: 96%;
        margin-top: 0;
    }
}

.digifonts a img {
    height: 100%;
    max-height: 100px;
    transform: rotate(14deg);
    margin: 0;
}


/* =====================================
        Footer Background Shapes
   ===================================== */

#background-rectangle-3-container {
    position: absolute;
    bottom: 0;
    left: -75px;
    bottom: 200px;
    transform: rotate(-14deg);
}

#background-rectangle-3 {
    fill: var(--blue);
    stroke: var(--blue);
    width: 1000px;
    height: 500px;
}

#background-rectangle-4-container {
    position: absolute;
    left: -50px;
    bottom: 700px;
    transform: rotate(-14deg);
}

#background-rectangle-4 {
    fill: var(--lightgray);
    stroke: var(--lightgray);
    width: 750px;
    height: 350px;
}
